html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('GI_Background_App.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
}

.card {
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec un peu de transparence */
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Largeur ajustée pour mieux occuper l'espace */
  max-width: 600px; /* Largeur maximum pour éviter que les cards soient trop grandes */
}

.resin-level-card {
  text-align: left;
}

.resin-max-card, .resin-time-card {
  text-align: center;
}

.footer-text {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.philosopher-regular-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}
